
@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/typeplate-starter-kit/css/typeplate.css";

/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: opacity, transform, color, background-color, border-color, z-index, background-image;
    transition-timing-function: ease;
}

/**
 * GRIDS
 */

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    > * {
        flex: 1;
        flex-basis: 100%;
    }
}

@define-mixin grid_r $col, $width {
    @media only screen and (min-width: $(width)px) {
        .grid-$(col)-$(width) {
            & > * {
                flex-basis: calc(100 / $col)%;
            }
            @mixin-content;
        }
    }
}

@define-mixin grid $col {
    .grid-$(col) {
        & > * {
            flex-basis: calc(100 / $col)%;
        }
        @mixin-content;
    }
}

@mixin grid 2 {}
@mixin grid 4 {}
@mixin grid 6 {}

@mixin grid_r 2, 400 {}
@mixin grid_r 2, 800 {}

@mixin grid_r 4, 400 {}
@mixin grid_r 4, 800 {}

/**
 * GENERAL
 */

img {
    max-width: 100%;
}
/**
 * YOUR CODE HERE
 */


.metadata{

    border: 1px solid rebeccapurple;
    margin: 2%;

    img{
        display: inline-block;
        vertical-align: top;
    }

    .textmetadata{
        display: inline-block;


        p{
        display: inline-block;
        margin: 0 auto;
    }
}

    

    

}


/*#artistsongtitle{
    border: 1px solid black;
    display: inline-block;
    width: 150px;

    p{
        margin: 0 auto;
        text-indent: 0;
        text-align: center;
    }

}

#playedloved{
    border: 1px solid black;
    display: inline-block;
    width: 150px;

    div{
        display: inline-block;
    }
}


#sccontrols{

    div{
        border: 1px solid black;
        display: inline-block;
        width: 50px;
        height: 50px;
    }

    #replay{
        background-color: thistle;
        color: slateblue;
    }

    #playpause{
        background-color: rebeccapurple;
        color: lemonchiffon;
    }

    #volume{
        background-color: peachpuff;
        color: slateblue;
    }

}
*/

